*{
  box-sizing: border-box;
}

body{
  margin: 0;
  /* font-family: 'Karla', sans-serif; */
  font-family: 'Poppins', sans-serif;
}

main{
  padding: 30px;
}

.header-container{
  display: flex;
  justify-content: space-between;
  padding: 30px 25px;
  align-items: center;
  background-color: #dfdb1e;
  height: 30px;
}

.header-title{
  margin-right: auto;
  font-size: 25px;
  color: beige;
  font-weight: 1000;
}

.header-img{
  height: 100%;
  width: 45px;
  margin-right: 10px;
}

.header-2-title{
  color: beige;
}

.form{
  display: grid;
  grid-template: 40px 40px / 1fr 1fr ;
  gap: 15px;
  margin-bottom: 17px;
}

.form-button{
  grid-column: 1 / -1;
  font-family: 'Poppins', sans-serif;
  border-radius: 3px;
  border: none;
  color: beige;
  background-color: #dfdb1e;
  font-weight: 700;
  cursor: pointer;
}

.form-input{
  font-family: 'Poppins', sans-serif; 
  border-radius: 5px solid #303027;
  text-indent: 5px;
}

.meme-image{
  margin-top: 10px;
  max-width: 100%;
}

.meme-text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}

.div {
  position: relative;
}